<div>
    <form (submit)="onSubmit()" class="m-3">
        <h3>Add a Member!</h3>
        <div class="col-sm-5 mt-5">
            <p>Name:</p>
            <input type="text" class="form-control border border-dark" name="name"  [(ngModel)] = "toSave.name">
        </div>
        <div class="col-sm-5 mt-5">
            <p>Last name:</p>
            <input type="text" class="form-control border border-dark" name="familyName" [(ngModel)] = "toSave.familyName">
        </div>
        <div class="col-sm-5 mt-5">
            <p>Identity document type:</p>
            <select class="form-select form-control border border-dark" aria-label="Default select example" [(ngModel)] = "toSave.identityDocumentType" name="identityDocumentType">
                <option selected>Open this select menu</option>
                <option value="CIN">CIN</option>
                <option value="CARTE_RESIDENCE">Residential card</option>
                <option value="PASSPORT">Passport</option>
            </select>
        </div>
        <div class="col-sm-5 mt-5">
            <p>Identity number:</p>
            <input type="text" class="form-control border border-dark" name="identityNumber" [(ngModel)] = "toSave.identityNumber">
        </div>
        <div class="col-sm-5 mt-5">
            <p>Nationality:</p>
            <input type="text" class="form-control border border-dark" name="nationality" [(ngModel)] = "toSave.nationality">
        </div>
        <div class="m-4 d-flex justify-content-end">
            <button type="submit" class="btn btn-secondary btn-block fs-6 mx-2" (click)="cancel()">Cancel</button>
            <button type="submit" class="btn btn-primary btn-block fs-6">Save Member</button>
        </div>
    </form>
</div>