<main class="container mx-auto mt-8 p-4">
  <!-- title -->
  <div class="title text-center mb-8">
    <h1 class="text-4xl font-bold text-blue-600">Podium</h1>
  </div>
  <div id="leaderboard" class="relative">
    <!-- Ribbon -->
    <div class="ribbon absolute top-0 left-0 w-full h-4 bg-blue-600"></div>

    <!-- Table -->
    <table class="table-auto w-full border-collapse border border-blue-600 bg-white shadow-md rounded-md overflow-hidden">
      <thead class="bg-blue-600 text-white">
        <tr>
          <th class="py-2">#</th>
          <th class="py-2">Name</th>
          <th class="py-2">Points</th>
        </tr>
      </thead>
      <tbody>
        <tr>
          <td class="border py-2">{{ podiumData[0]?.rank }}</td>
          <td class="border py-2">{{ podiumData[0]?.member }}</td>
          <td class="border py-2">{{ podiumData[0]?.score }} points</td>
        </tr>
        <tr>
          <td class="border py-2">{{ podiumData[1]?.rank }}</td>
          <td class="border py-2">{{ podiumData[1]?.member }}</td>
          <td class="border py-2">{{ podiumData[1]?.score }} points</td>
        </tr>
        <tr>
          <td class="border py-2">{{ podiumData[2]?.rank }}</td>
          <td class="border py-2">{{ podiumData[2]?.member }}</td>
          <td class="border py-2">{{ podiumData[2]?.score }} points</td>
        </tr>
      </tbody>
    </table>
  </div>
</main>
