<!-- main.component.html -->
<main class="container">
  <!-- title -->
  <div class="title text-center mt-4">
    <h1>Podium</h1>
  </div>
  <div id="leaderboard" class="position-relative">
    <div class="ribbon"></div>
    <table class="table table-hover">
      <tr>
        <td class="number">1</td>
        <td class="name">Lee Taeyong</td>
        <td class="points">
          258.244 points
        </td>
      </tr>
      <tr>
        <td class="number">2</td>
        <td class="name">Mark Lee</td>
        <td class="points">258.242 points</td>
      </tr>
      <tr>
        <td class="number">3</td>
        <td class="name">Xiao Dejun</td>
        <td class="points">258.223 points</td>
      </tr>
    </table>
  </div>
</main>
