<input [formControl]="searchControl" type="search" placeholder="Search..." autocomplete="off" class="form-control w-25 my-3 border border-dark">
<div class="row clearfix">
    <div class="col-xl-3 col-lg-4 col-md-6 col-sm-6">
        <div class="card">
        <div class="body product_item">
            <img src="assets/images/image-gallery/avatar.jpg" alt="Competition" class="img-fluid cp_img"/>
            <div class="product_details d-flex justify-content-center py-3">
                <h3>New member?</h3>                            
            </div>
            <div class="my-2 row">
                <a class="btn btn-primary waves-effect fs-6" (click)="addMember()">Add them!</a>
            </div>
        </div>
    </div> 
    </div>
    
  <div class="col-xl-3 col-lg-4 col-md-6 col-sm-6" *ngFor="let member of members">
      <div class="card">
          <div class="body product_item">
              <img src="assets/images/image-gallery/avatar.jpg" alt="Competition" class="img-fluid cp_img" />
              <div class="product_details">
                  <h5>{{ member.name }} {{ member.familyName }}</h5>
                  <ul class="product_price list-unstyled">
                      <li class="old_price">{{ member.number }}</li>
                      <li class="new_price">{{ member.nationality }}</li>
                  </ul>                                
              </div>
              <div class="action row ps-2">
                  {{ member.identityNumber }}
                  <div class="my-2 row">
                      <a (click)="registerMember(member.number)" class="btn btn-primary waves-effect fs-6">Add to competition</a>
                  </div>
              </div>
          </div>
      </div> 
  </div>
</div>