<div class="mail-compose mb-4 d-flex justify-content-end">
      <a routerLink="/add-component" class="btn btn-primary btn-block fs-6">+ Add Competition</a>
</div>
<div class="row clearfix">
    <div class="col-xl-3 col-lg-4 col-md-6 col-sm-6" *ngFor="let competition of competitions">
        <div class="card">
            <div class="body product_item">
                <span  [ngClass]="{'label':true,'onsale': compareDateWithCurrentDate(competition.date) == 2,'new': compareDateWithCurrentDate(competition.date) == 3,'  trending': compareDateWithCurrentDate(competition.date) == 1 } ">
                    {{(compareDateWithCurrentDate(competition.date) == 3)?'Finished!':(compareDateWithCurrentDate(competition.date) == 1)?'Upcoming...':'Ongoing'}}
                </span>
                <img src="assets/images/image-gallery/726.jpg" alt="Competition" class="img-fluid cp_img" />
                <div class="product_details">
                    <a href="ec-product-detail.html">{{ competition.location }}</a>
                    <ul class="product_price list-unstyled">
                        <li class="old_price">{{ competition.date }}</li>
                        <li class="new_price">{{ competition.numberOfParticipants }}</li>
                    </ul>                                
                </div>
                <div class="action row ps-2">
                    Time: {{ competition.startTime }} - {{ competition.endTime }}
                    <div class="my-2 row">
                        <a class="btn btn-info waves-effect fs-6" (click)="registerMember(competition.code)">Register member</a>
                        <a class="btn btn-primary waves-effect fs-6" (click)="viewParticipants(competition.code)">View participants</a>
                        <a class="btn btn-warning waves-effect fs-6" (click)="viewPodium(competition.code)">View results</a>
                    </div>
                </div>
            </div>
        </div> 
    </div>
</div>