
<div
class="rounded-lg border-gray-300 dark:border-gray-600 h-96 mb-10"
>
<div class="relative overflow-x-auto">
  <a routerLink="/Create-competition"
  class="border-gray-600 dark:border-gray-400 absolute top-0 right-0 bg-blue-300 dark:bg-gray-800 dark:text-gray-400 rounded-lg px-3 py-1.5 text-xs"
>
  Add Competition
</a>
    <table class="w-full text-sm text-left rtl:text-right text-gray-500 dark:text-gray-400">
        <thead class="text-xs text-gray-700 uppercase bg-gray-50 dark:bg-gray-700 dark:text-gray-400">
            <tr>
                <th scope="col" class="px-6 py-3">
                    Location
                </th>
                <th scope="col" class="px-6 py-3">
                    Date
                </th>
                <th scope="col" class="px-6 py-3">
                  Start Time
                </th>
              <th scope="col" class="px-6 py-3">
                End Time
            </th>
                <th scope="col" class="px-6 py-3">
                    Number of Participants
                </th>
                <th scope="col" class="px-6 py-3">
                    Status
                </th>
            </tr>
        </thead>
        <tbody>
            <tr class="bg-white border-b dark:bg-gray-800 dark:border-gray-700" *ngFor="let competition of competitions">
                <button scope="row" class="px-6 py-4 font-medium text-gray-900 whitespace-nowrap dark:text-white"  (click)="openPodium(competition.id)">
                  {{ competition.location }}
                </button>
                <td class="px-6 py-4">
                  {{ competition.date | date:'yyyy-MM-dd' }}
                </td>
                <td class="px-6 py-4">
                  {{ competition.startTime }}
                </td>
                <td class="px-6 py-4">
                  {{ competition.endTime }}
                </td>
                <td class="px-6 py-4">
                  {{ competition.numberOfParticipants }}
                </td>
                <td> <span [ngClass]="{'label':true,'bg-green-100 text-green-800 text-xs font-medium me-2 px-2.5 py-0.5 rounded dark:bg-green-900 dark:text-green-300': compareDateWithCurrentDate(competition.date) == 2,'bg-red-100 text-red-800 text-sm font-medium me-2 px-2.5 py-0.5 rounded dark:bg-red-900 dark:text-red-300': compareDateWithCurrentDate(competition.date) == 3,'bg-blue-100 text-blue-800 text-sm font-medium me-2 px-2.5 py-0.5 rounded dark:bg-blue-900 dark:text-blue-300': compareDateWithCurrentDate(competition.date) == 1 } ">
                  {{(compareDateWithCurrentDate(competition.date) == 3)?'Finished!':(compareDateWithCurrentDate(competition.date) == 1)?'Ongoing':'Upcoming...'}}
                </span>
                </td>
            </tr>
        </tbody>
    </table>
</div>

</div>

